In [ ]:
#Write a code to reverse a string.


s = "Hello Aayushi" [::-1]
print(s)

ihsuyaA olleH

In [ ]:
#Write a code to count the number of vowels in a string.

string = "I want to become a data analyst"
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

11

In [ ]:
#Write a code to check if a given string is a palindrome or not.

input_string = "racecar"

if input_string == input_string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

In [16]:
#Write a code to check if two given strings are anagrams of each other?

#anagrams = a word formed by rearranging the letters in another word or phrase.

def are_anagrams(str1, str2):
    # Convert both strings to lowercase
    str1 = str1.lower()
    str2 = str2.lower()

In [23]:
def are_anagrams(str1, str2):
    # Convert both strings to lowercase
    str1 = str1.lower()
    str2 = str2.lower()



    # Sort the strings and compare
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f'"{string1}" and "{string2}" are anagrams.')
else:
    print(f'"{string1}" and "{string2}" are not anagrams.')

"Listen" and "Silent" are anagrams.

In [4]:
#Write a code to find all occurrences of a given substring within another string

def find_all_occurrences(string, substring):
  occurrences = []
  index = string.find(substring)
  while index != -1:
    occurrences.append(index)
    index = string.find(substring, index + 1)
    return occurrences

In [5]:
text = "Python is great, and Python is versatile."
sub = "Python"

In [6]:
result = find_all_occurrences(text, sub)

In [7]:
print(f"Occurrences of '{sub}' are at indices: {result}")

Occurrences of 'Python' are at indices: [0]

In [12]:
#Write a code to perform basic string compression using the counts of repeated characters

def compress_string(s):
  compressed = []
  count = 1
  for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

            compressed.append(s[-1] + str(count))
            return ''.join(compressed)

            compressed.append(s[-1] + str(count))
            result = ''.join(compressed)
            return result if len(result) < len(s) else s

In [13]:
input_string = "aabcccccaaa"

In [14]:
compressed = compress_string(input_string)

In [15]:
print(f"Compressed string: {compressed}")

Compressed string: a2a1

In [16]:
# Write a code to determine if a string has all unique characters

def has_unique_characters(string):
  seen = set()
  for char in string:
    if char in seen:
      return False
      seen.add(char)
      return True

In [18]:
input_string = "abcdefg"
if has_unique_characters(input_string):
  print("The string does not have all unique characters.")

else:
    print("The string has all unique characters.")

The string has all unique characters.

In [19]:
#Write a code to convert a given string to uppercase or lowercase

def convert_case(string, to_uppercase=True):
  if to_uppercase:
    return string.upper()
  else:
    return string.lower()

In [20]:
input_string = "Hello World"

In [21]:
uppercase_string = convert_case(input_string)
print(f"Uppercase string: {uppercase_string}")

Uppercase string: HELLO WORLD

In [22]:
#Write a code to count the number of words in a string

def count_words(string):
  words = string.split()
  return len(words)

In [23]:
input_string = "This is a sample string with 5 words."

In [24]:
word_count = count_words(input_string)
print(f"Number of words: {word_count}")

Number of words: 8

In [26]:
#Write a code to concatenate two strings without using the + operator

def concatenate_strings(str1, str2):
  result = ''
  for char in str1:
    result += char
  for char in str2:
    result += char
    return result

In [34]:
string1 = "Hello"
string2 = "World"

In [33]:
concatenated_string = concatenate_strings(string1, string2)
print(f"Concatenated string: {concatenated_string}")

Concatenated string: HelloW

In [35]:
#Write a code to remove all occurrences of a specific element from a list

def remove_element(lst, element):
  result = []
  for item in lst:
    if item != element:
      result.append(item)
      return result

In [36]:
input_list = [1, 2, 3, 2, 4, 2, 5]

In [63]:
#Implement a code to find the second largest number in a given list of integers

def second_largest(list):
    list.sort()
    return list[-2]

In [69]:
li=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)

Enter size of list 5
Enter element of list 8
Enter element of list 3
Enter element of list 1
Enter element of list 9
Enter element of list 5

In [70]:
print("second largest in ",li,"is")
print(second_largest(li))

second largest in  [8, 3, 1, 9, 5] is
8

In [71]:
#Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

def count_occurrences(lst):
  counts = {}
  for item in lst:
    if item in counts:
      counts[item] += 1
    else:
      counts[item] = 1
      return counts

In [72]:
input_list = [1, 2, 3, 2, 4, 2, 5]

In [74]:
result = count_occurrences(input_list)
print(f"Element counts: {result}")

Element counts: {1: 1}

In [75]:
#Write a code to reverse a list in-place without using any built-in reverse functions

def reverse_list_in_place(lst):
  left = 0
  right = len(lst) - 1

  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

In [76]:
numbers = [1, 2, 3, 4, 5]

In [77]:
reverse_list_in_place(numbers)

In [78]:
print("Reversed list:", numbers)

Reversed list: [5, 4, 3, 2, 1]

In [82]:
#Implement a code to find and remove duplicates from a list while preserving the original order of elements

def remove_duplicates_preserve_order(lst):
  seen = set()
  result = []

  for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
            return result

In [83]:
numbers = [4, 5, 4, 2, 1, 2, 3, 5, 1]

In [84]:
unique_numbers = remove_duplicates_preserve_order(numbers)
print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [4]

In [1]:
#Create a code to check if a given list is sorted (either in ascending or descending order) or not

def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    if ascending:
        return "The list is sorted in ascending order."
    elif descending:
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

In [2]:
my_list1 = [1, 2, 3, 4, 5]
print(is_sorted(my_list1))

The list is sorted in ascending order.

In [3]:
my_list2 = [5, 4, 3, 2, 1]
print(is_sorted(my_list2))

The list is sorted in descending order.

In [4]:
#Write a code to merge two sorted lists into a single sorted list

def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Traverse both lists and append smaller element to merged_list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append remaining elements of list1, if any
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Append remaining elements of list2, if any
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

In [5]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print(merge_sorted_lists(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
# Implement a code to find the intersection of two given lists.

def find_intersection(list1, list2):
  set1 = set(list1)
  set2 = set(list2)

  intersection = set1.intersection(set2)
  return list(intersection)

In [7]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

In [8]:
intersection_result = find_intersection(list_a, list_b)
print(f"The intersection of {list_a} and {list_b} is: {intersection_result}")

The intersection of [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8] is: [4, 5]

In [9]:
# Create a code to find the union of two lists without duplicates

def find_union(list1, list2):
  set1 = set(list1)
  set2 = set(list2)

  union = set1.union(set2)
  return list(union)

In [10]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

In [11]:
union_result = find_union(list_a, list_b)
print(f"The union of {list_a} and {list_b} is: {union_result}")

The union of [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8] is: [1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
#Write a code to shuffle a given list randomly without using any built-in shuffle functions

import random

def custom_shuffle(lst):
  n = len(lst)
  for i in range(n):
      rand_index = random.randint(i, n - 1)
      lst[i], lst[rand_index] = lst[rand_index], lst[i]

In [14]:
numbers = [1, 2, 3, 4, 5]
print("Original list:", numbers)

Original list: [1, 2, 3, 4, 5]

In [15]:
custom_shuffle(numbers)
print("Shuffled list:", numbers)

Shuffled list: [5, 2, 3, 4, 1]

In [18]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

def common_elements(tuple1, tuple2):
  set1 = set(tuple1)
  set2 = set(tuple2)
  common = set1.intersection(set2)
  return tuple(common)

In [19]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

In [20]:
common_result = common_elements(tuple1, tuple2)
print(f"The common elements between {tuple1} and {tuple2} are: {common_result}")

The common elements between (1, 2, 3, 4, 5) and (4, 5, 6, 7, 8) are: (4, 5)

In [23]:
#Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

def get_set_from_input(prompt):
  user_input = input(prompt)
  input_list = [int(x.strip()) for x in user_input.split(',')]
  return set(input_list)

In [24]:
set1 = get_set_from_input("Enter the first set of integers (comma-separated): ")
set2 = get_set_from_input("Enter the second set of integers (comma-separated): ")

Enter the first set of integers (comma-separated): 1, 2, 3, 4, 5
Enter the second set of integers (comma-separated): 4, 5, 6, 7, 8

In [25]:
intersection = set1.intersection(set2)

In [26]:
print(f"The intersection of the two sets is: {intersection}")

The intersection of the two sets is: {4, 5}

In [29]:
#Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

def concatenate_tuples(tuple1, tuple2):
  result = tuple1 + tuple2
  return result

In [30]:
tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)

In [31]:
concatenated_tuple = concatenate_tuples(tuple_a, tuple_b)
print(f"The concatenated tuple is: {concatenated_tuple}")

The concatenated tuple is: (1, 2, 3, 4, 5, 6)

In [34]:
#Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

str1 = input("Enter first string:")
str2 = input("Enter second string:")
str1 = set(str1)
str2 = set(str2)
difference = str1 - str2
print(difference)

Enter first string:Hello
Enter second string:Aayushi
{'e', 'H', 'l', 'o'}

In [35]:
#Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

def slice_tuple(input_tuple, start_index, end_index):
  return input_tuple[start_index:end_index]

In [36]:
original_tuple = (10, 20, 30, 40, 50, 60, 70)
start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))

Enter the start index: 2
Enter the end index: 5

In [37]:
sliced_tuple = slice_tuple(original_tuple, start, end)
print(f"The new tuple containing elements from index {start} to {end} is: {sliced_tuple}")

The new tuple containing elements from index 2 to 5 is: (30, 40, 50)

In [39]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

def get_set_from_input(prompt):
  user_input = input(prompt)
  input_list = [x.strip() for x in user_input.split(',')]
  return set(input_list)

In [40]:
set1 = get_set_from_input("Enter the first set of characters (comma-separated): ")
set2 = get_set_from_input("Enter the second set of characters (comma-separated): ")

Enter the first set of characters (comma-separated): a, b, c, d
Enter the second set of characters (comma-separated): b, e, f, g

In [41]:
union = set1.union(set2)

In [42]:
print(f"The union of the two sets is: {union}")

The union of the two sets is: {'a', 'd', 'g', 'e', 'b', 'c', 'f'}

In [43]:
#Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

def get_max_min_from_tuple(input_tuple):
  max_value = max(input_tuple)
  min_value = min(input_tuple)
  return max_value, min_value

In [44]:
user_input = input("Enter a tuple of integers (comma-separated): ")

Enter a tuple of integers (comma-separated): 10, 20, 35, 5, 50

In [45]:
input_tuple = tuple(map(int, user_input.split(',')))

In [46]:
max_value, min_value = get_max_min_from_tuple(input_tuple)

In [47]:
print(f"The maximum value is: {max_value}")

The maximum value is: 50

In [48]:
print(f"The minimum value is: {min_value}")

The minimum value is: 5

In [49]:
#Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

def print_set_operations(set1, set2):
  union = set1.union(set2)
  print(f"Union of the two sets: {union}")

In [50]:
intersection = set1.intersection(set2)
print(f"Intersection of the two sets: {intersection}")

Intersection of the two sets: {'b'}

In [51]:
difference = set1.difference(set2)
print(f"Difference of set1 and set2 (set1 - set2): {difference}")

Difference of set1 and set2 (set1 - set2): {'a', 'd', 'c'}

In [52]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [53]:
print_set_operations(set1, set2)

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
#Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

def count_element_in_tuple(input_tuple, element):
  return input_tuple.count(element)

In [55]:
user_input = input("Enter a tuple of integers (comma-separated): ")

Enter a tuple of integers (comma-separated): 1, 2, 3, 2, 4, 2, 5

In [56]:
input_tuple = tuple(map(int, user_input.split(',')))

In [57]:
element = int(input("Enter the element to count in the tuple: "))

Enter the element to count in the tuple: 2

In [58]:
occurrences = count_element_in_tuple(input_tuple, element)

print(f"The element {element} appears {occurrences} time(s) in the tuple.")

The element 2 appears 3 time(s) in the tuple.

In [59]:
#Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

def get_set_from_input(prompt):
  user_input = input(prompt)
  input_list = [x.strip() for x in user_input.split(',')]
  return set(input_list)

In [62]:
def print_symmetric_difference(set1, set2):
  symmetric_difference = set1.symmetric_difference(set2)
  print(f"The symmetric difference of the two sets is: {symmetric_difference}")

In [63]:
set1 = get_set_from_input("Enter the first set of strings (comma-separated): ")
set2 = get_set_from_input("Enter the second set of strings (comma-separated): ")

Enter the first set of strings (comma-separated): apple, banana, cherry, date
Enter the second set of strings (comma-separated): banana, cherry, fig, grape

In [64]:
print_symmetric_difference(set1, set2)

The symmetric difference of the two sets is: {'grape', 'date', 'fig', 'apple'}

In [65]:
#Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

def word_frequency(input_list):
  frequency_dict = {}
  for word in input_list:
    frequency_dict[word] = frequency_dict.get(word, 0) + 1
    return frequency_dict

In [66]:
user_input = input("Enter a list of words (space-separated): ")
input_list = user_input.split()

Enter a list of words (space-separated): apple banana apple cherry banana apple

In [68]:
word_freq = word_frequency(input_list)

In [69]:
print("Word Frequencies:", word_freq)

Word Frequencies: {'apple': 1}

In [70]:
#Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

def merge_dictionaries(dict1, dict2):
  merged_dict = dict1.copy()
  for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
            return merged_dict

In [71]:
dict1_input = input("Enter the first dictionary (key:value pairs separated by commas): ")
dict2_input = input("Enter the second dictionary (key:value pairs separated by commas): ")

Enter the first dictionary (key:value pairs separated by commas): a:2, b:3, c:5
Enter the second dictionary (key:value pairs separated by commas): b:4, c:1, d:7

In [72]:
dict1 = {k.strip(): int(v.strip()) for k, v in (item.split(':') for item in dict1_input.split(','))}
dict2 = {k.strip(): int(v.strip()) for k, v in (item.split(':') for item in dict2_input.split(','))}

In [73]:
merged_dict = merge_dictionaries(dict1, dict2)

In [74]:
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 2, 'b': 7, 'c': 6, 'd': 7}

In [76]:
# Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

def access_nested_dict_value(nested_dict, keys):
  for key in keys:
    if isinstance(nested_dict, dict) and key in nested_dict:
            nested_dict = nested_dict[key]
    else:
            return None
            return nested_dict

In [77]:
nested_dict_input = {
    'a': {
        'b': {
            'c': 5
        },
        'd': 10
    },
    'x': 20
}

keys_input = ['a', 'b', 'c']

In [78]:
value = access_nested_dict_value(nested_dict_input, keys_input)

In [79]:
print(f"The value corresponding to the keys {keys_input} is: {value}")

The value corresponding to the keys ['a', 'b', 'c'] is: None

In [80]:
#Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

def sort_dict_by_value(input_dict, descending=False):
  sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=descending)
  sorted_dict = dict(sorted_items)
  return sorted_dict

In [81]:
input_dict_str = input("Enter a dictionary (key:value pairs separated by commas): ")

Enter a dictionary (key:value pairs separated by commas): a:2, b:5, c:3, d:1

In [82]:
input_dict = {k.strip(): int(v.strip()) for k, v in (item.split(':') for item in input_dict_str.split(','))}

In [83]:
order = input("Do you want to sort in ascending order? (yes/no): ").lower()

Do you want to sort in ascending order? (yes/no): yes

In [84]:
sorted_dict = sort_dict_by_value(input_dict, descending=(order == 'no'))

In [85]:
print("Sorted Dictionary:", sorted_dict)

Sorted Dictionary: {'d': 1, 'a': 2, 'c': 3, 'b': 5}

In [89]:
#Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

def invert_dict(input_dict):
   inverted_dict = {}
   for key, value in input_dict.items():
    if value in inverted_dict:
      inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
        return inverted_dict

In [90]:
input_dict_str = input("Enter a dictionary (key:value pairs separated by commas): ")

Enter a dictionary (key:value pairs separated by commas): a:1, b:2, c:1, d:3, e:2

In [91]:
input_dict = {k.strip(): v.strip() for k, v in (item.split(':') for item in input_dict_str.split(','))}

In [92]:
inverted_dict = invert_dict(input_dict)

In [93]:
print("Inverted Dictionary:", inverted_dict)

Inverted Dictionary: {'1': ['a']}